<launch>


  <arg name="load_robot_description" default="true"/>
  <arg name="config" default="false"/>

  <rosparam command="load" file="$(find test_moveit_config)/config/joint_names.yaml"/>

  <include file="$(find test_moveit_config)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
  </node>

  <include file="$(find test_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find test_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="$(arg config)"/>
  </include>

</launch>