<launch>
    <include file="$(find fetch_gazebo)/launch/main.launch" >
        <arg name="pause" value="false"/>
        <arg name="world_name" default="$(find face_recognition_tc)/worlds/unwritable.world"/>
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="3.14" />
    </include>
    
  
    <include file="$(find person_sim)/launch/spawn_person.launch">
        <arg name="sdf_robot_file" value="$(find person_sim)/models/bobeye/model.sdf"/>
        <arg name="robot_name" value="bobeye" />
        <arg name="x" value="-2.3" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="0.0" />
    </include>
    
    <include file="$(find person_sim)/launch/spawn_person.launch">
        <arg name="sdf_robot_file" value="$(find person_sim)/models/naokoeye/model.sdf"/>
        <arg name="robot_name" value="naokoeye" />
        <arg name="x" value="-1.9" />
        <arg name="y" value="-0.9" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="0.7" />
    </include>
    
    <include file="$(find person_sim)/launch/spawn_person.launch">
        <arg name="sdf_robot_file" value="$(find person_sim)/models/person_standing/model.sdf"/>
        <arg name="robot_name" value="person_standing" />
        <arg name="x" value="-2.0" />
        <arg name="y" value="1.0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="-0.7" />
    </include>

    <include file="$(find face_recognition_tc)/launch/make_person_movable.launch">
        <arg name="robot_name" value="bobeye" />
    </include>
    <include file="$(find face_recognition_tc)/launch/make_person_movable.launch">
        <arg name="robot_name" value="naokoeye" />
    </include>
    <include file="$(find face_recognition_tc)/launch/make_person_movable.launch">
        <arg name="robot_name" value="person_standing" />
    </include>
    
    
    <!-- Start MoveIt -->
    <include file="$(find fetch_moveit_config)/launch/move_group.launch" >
        <arg name="info" value="true"/><!-- publish grasp markers -->
    </include>
    
    <!-- Start navigation -->
    <include file="$(find fetch_gazebo_demo)/launch/fetch_nav.launch" />
    
    
    
  
  
</launch>
