<launch>
    <!-- Spawn Naoko Model -->

    <include file="$(find person_sim)/launch/spawn_person.launch">
        <arg name="sdf_robot_file" default="$(find person_sim)/models/timmyeye/model.sdf"/>
        <arg name="robot_name" default="timmyeye" />
        <arg name="x" default="-2.0" />
        <arg name="y" default="0.0" />
        <arg name="z" default="0.0" />
        <arg name="yaw" default="0" />
    </include>

</launch>
