<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
  <!-- Start Gazebo with a blank world -->
  <include file="$(find fetch_domain_randomization)/launch/main_fetch_gazebo.launch">
    <arg name="world_name" value="$(find dynamic_objects)/worlds/dynamic_simplest_XY.world"/>
    <arg name="robot" value="fetch"/>
    <arg name="pause" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.0" />
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="0.0" />
  </include>
  
  <!-- In this version we ask to not load the robot description because we want it to load it from our own version and 
  not the one by default in the movit stuff--> 
  <include file="$(find fetch_domain_randomization)/launch/fetch_planning_execution.launch">
    <arg name="load_robot_description" value="false"/>
  </include>
  
  <!-- We publish to have the world in the TF space -->
  <node pkg="tf" type="static_transform_publisher" name="world_frames_connection" args="1.0 0.3 0 3.14 0 0 /world /odom 100"/>

  <!-- We start the Fetch Service to be able to move Fetch with Python 2 and 3 because we dont access move it directly -->
  <include file="$(find fetch_domain_randomization)/launch/start_fetch_move_service.launch"/>
  
    
</launch>