<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot">
 <xacro:include filename="$(find charger_description)/urdf/inc/create_link.xacro"/>


  <xacro:create_link
      link_name="base"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mesh_package="charger_description"
      mesh_name="base"
  />

  <xacro:create_link
      link_name="bar"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mesh_package="charger_description"
      mesh_name="bar"
  />

  <xacro:create_link
      link_name="port"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mesh_package="charger_description"
      mesh_name="port"
  />

  <xacro:create_link
      link_name="tag_203"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mesh_package="charger_description"
      mesh_name="tag"
  />



  <!-- helper macro -->
  <joint name="bar_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.01821 +0.00135 -0.70465"/>
    <parent link="bar"/>
    <child link="base"/>
  </joint>
  <joint name="port_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.06053 0.01121 -0.58665"/>
    <parent link="bar"/>
    <child link="port"/>
  </joint>
  <joint name="tag_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06575 0.00037 -0.38023"/>
    <parent link="tag_203"/>
    <child link="bar"/>
  </joint>
    

</robot>