version: '2'

services:
    smart_home:
       # networks:
       #     appnet:
       #         ipv4_address: 192.168.1.5
        image: "pac48/smart_home:latest"
        privileged: true
        network_mode: host
        #ipc: host
        environment:
            - ROS_DOMAIN_ID=26
        tty: true

        devices:
  # your usb device forwarding to the docker image
        - /dev/ttyUSB0:/dev/ttyUSB0
#       - /dev/input/js0:/dev/input/js0

# command: ros2 launch yumi_control yumi_control.launch.py
       
#networks:
#    host:
#        name: host
#        external: true
#    appnet:
#        driver: bridge
#        ipam:
#            driver: default
#            config:
#                - subnet: "192.168.1.0/24"
