<launch> 
	
	<!-- map server -->
	<arg name="map_file" default="$(find pioneer_shr)/maps/hewittTPC.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<include file="$(find pioneer_shr)/launch/amcl_pioneer_shr_real.launch"/> 

    <!-- start nodes for pioneer sensors -->
	<include file="$(find pioneer_shr)/launch/pioneer_shr_sensors.launch"/>

	<!-- rosaria node -->
	<include file="$(find pioneer_shr)/launch/rosaria_pioneer_shr.launch"/>

    <!-- controller node -->
	<include file="$(find pioneer_test)/launch/pioneer_controller.launch"/>

	<!-- move_base node -->
	<include file="$(find pioneer_shr)/launch/move_base_real.launch"/>

</launch>
