<launch> 

    <!-- start face recognition -->
    <node pkg="face_recognition_pkg" type="recognise_face.py" name="recognise_face" output="screen">
		<param name="cameraTopic" type="string" value="camera/rgb/image_raw"/>
		/*<param name="targetName" type="string" value="james"/>*/
		/*<param name="targetName" type="string" value="cacy"/>*/
		<param name="targetName" type="string" value="janine"/>
	</node>

</launch>
