<launch>
	<!-- Robot lms500 laser sensor, code is in lms5xx-->
	<node pkg="laser_node" type="laser_node" name="laser_node"/>
 
	<!-- Robot sensor transforms -->
	<node pkg="pioneer_test" type="pioneer3dx_odometry_publisher" name="pioneer3dx_odometry_publisher"/>
 
	<!-- Frame transforms -->
	<node pkg="pioneer_test" type="laser_tf_broadcaster" name="laser_tf_broadcaster"/>
</launch>
