<launch> 
	<!-- rosaria node -->
	<include file="$(find pioneer_shr)/launch/rosaria_pioneer_shr.launch"/>
	
	<!-- start nodes for pioneer sensors -->
	<include file="$(find pioneer_shr)/launch/pioneer_shr_sensors.launch"/>
	
	<!-- move_base node -->
	<include file="$(find pioneer_shr)/launch/move_base_gazebo.launch"/>

	<!-- controller node -->
	<include file="$(find pioneer_test)/launch/pioneer_controller.launch"/>
	
	<!-- start gmapping -->
	<arg name="map_update_interval" value="1" />
	<arg name="maxUrange" value="10" />
	<arg name="linearUpdate" value="0.5" />
	<arg name="angularUpdate" value="0.2" />
	<arg name="temporalUpdate" value="1" />
	<node pkg="gmapping" type="slam_gmapping" name="gmapping" args="$(arg map_update_interval) $(arg maxUrange) $(arg linearUpdate) $(arg angularUpdate) $(arg temporalUpdate)">
		<!-- <remap from="scan" to="RosAria/lms5XX_1_laserscan"/>-->
		<!-- <remap from="scan" to="base_scan"/>-->
	</node>

</launch>
