<launch> 
	<param name="maxDeltaPose" value="0.00001" />
	<param name="maxDeltaAngle" value="0.00001" />
	<param name="primitive_file" value="doc/motionPrimitive/primitives.txt" />
	
	<!-- rosaria node -->
	<include file="$(find pioneer_hallway)/launch/rosaria_pioneer_hallway.launch"/>
	
	<!-- start nodes for pioneer sensors -->
	<include file="$(find pioneer_hallway)/launch/pioneer_hallway_sensors.launch"/>

	<!-- controller node -->
	<include file="$(find pioneer_test)/launch/pioneer_controller.launch"/>
		
	<!-- start amcl -->
	<include file="$(find pioneer_hallway)/launch/amcl_pioneer_hallway.launch"/>
	
	<!-- map server -->
	<!--arg name="map_file" default="$(find pioneer_hallway)/maps/kingV2.yaml"/-->
	<arg name="map_file" default="$(find pioneer_hallway)/maps/map.yaml"/>
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
	
	<!-- start trajectory server -->
	<node name="hector_trajectory_server" pkg="hector_trajectory_server" type="hector_trajectory_server" />
	
	<!-- start cmd_vel_publisher -->
	<node name="pioneer_hallway_cmd_vel_publisher" pkg="pioneer_hallway" type="cmd_vel_publisher.py" output="screen" />
	
	<!-- start estop -->
	<node name="pioneer_estop" pkg="pioneer_hallway" type="estop.py" output="screen" />
	
	<!-- start controller -->
	<!--node name="controller_node" pkg="pioneer_hallway" type="controller_node.py" /-->
	
	<!-- start rviz -->
	<include file="$(find pioneer_hallway)/launch/rviz_pioneer_hallway.launch"/>
</launch>
