<launch> 

    <param name="robot_description" command="$(find xacro)/xacro '$(find pioneer_description)/config_shr/urdf/pioneer3dx.xacro'" />


    <!-- send fake joint values -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="FALSE"/>
		<!--param name="rate" value="60"/-->
	</node>

	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<!--param name="publish_frequency" value="60"/-->
	</node>

    <!-- Show in Rviz   -->
	<arg name="rviz_file" default="real_pioneer_shr.rviz"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find pioneer_description)/config_shr/rviz/$(arg rviz_file)"/>

</launch>
