<launch>
	<!-- simple goal node -->
	<node pkg="pioneer_shr" type="simple_navigation_goals" name="simple_navigation_goals" output="screen">
		<param name="goalPosePositionX" value="-1.8585"/>
		<param name="goalPosePositionY" value="-0.4443"/>
		<param name="goalPoseOrientationZ" value="0.7762"/>
		<param name="goalPoseOrientationW" value="0.6304"/>
	</node>
</launch>
