<?xml version="1.0" encoding="UTF-8"?>

<launch>  

    <include file="$(find turtle_tf_3d)/launch/run_turtle_tf_broadcaster.launch"/>
    <include file="$(find turtle_tf_3d)/launch/run_turtle_tf_listener.launch">
        <arg name="model_to_be_followed_name" value="turtle1" />
        <arg name="follower_model_name" value="turtle2" />
    </include>

</launch>
