<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <!--  Include launch.xml if needed -->
    <include file="$(find spawn_robot_tools_pkg)/launch/spawn_sdf.launch">
        <arg name="sdf_robot_file" value="$(find turtle_tf_3d)/urdf/turtle1.sdf"/>
        <arg name="robot_name" default="turtle1" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)" />
    </include>

    <include file="$(find turtle_tf_3d)/launch/move_model.launch">
        <arg name="robot_name" value="turtle1" />
    </include>

</launch>