<launch>
    <include file="$(find fetch_gazebo)/launch/main.launch" >
        <arg name="pause" value="false"/>
        <arg name="world_name" default="$(find face_detection_tc)/worlds/face_detection.world"/>
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="3.14" />
    </include>
    
    <!-- Start Standing Person : Spawn, Init TF publish and Init KeyBoard Listener navigation -->
    <include file="$(find person_sim)/launch/init_standing_person.launch" >
        <arg name="x" value="-3.0" />
    </include>

    <!-- This static transform to connect the map frame of person with odom frame of fetch which should be the same -->    
    <node pkg="tf" type="static_transform_publisher" name="world_frames_connection" args="0 0 0 3.14 0 0 /map /odom 100"/>
  
</launch>
